

<div class="container mb-5" style="padding-top: 2rem;">
    <div class="container d-flex">
        <div class="row mt-2 ">
            <a href="/admin/addproduct" class="btn btn-success">Add Product</a>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-15 mt-4">
        <div class="panel" style="background: linear-gradient(to left, #bbd42a, #94cec6);">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-sm-3 col-xs-12">
                        <h4 class="title" style="color: black;">Product <span>List</span></h4>
                    </div>
                    {{!-- <div class="col-sm-9 col-xs-12 text-right">
                        <div class="btn_group">
                            <input type="text" class="form-control" placeholder="">
                            <button class="btn btn-default" title="Reload">Search</button>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th style="color: black;">Product Name</th>
                            <th style="color: black;">Stock</th>
                            <th style="color: black;">Category</th>
                            <th style="color: black;">Price</th>
                            <th style="color: black;">Image</th>
                            <th style="color: black;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td style="color: black;"> {{this.name}} </td>
                            <td style="color: black;"> {{this.quantity}} </td>
                            <td style="color: black;"> {{this.category}} </td>
                            <td style="color: black;"> {{this.price}} </td>
                            <td> <img src="/product-image/{{this.image}}" style="width:50px;height: 45px;" alt=""> </td>
                            <td>
                                <ul class="action-list">
                                    <li><a href="/admin/editProduct/{{this._id}}" data-tip="edit"><i class="fa fa-edit" style="color: black;"></i></a></li>
                                    <li><a href="/admin/deleteProduct/{{this._id}} " data-tip="delete" onclick="return confirm('Kindly confirm if you want to delete {{this.name}}? ')"><i class="fa fa-trash" style="color: black;"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        {{/each}}
                       
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex">
        <div class="row mt-5">
            <a href="/admin/exportProducts" class="btn btn-success">Export products</a>
        </div>
    </div>

</div>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>